<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <H1>Uploaded relatives list</H1>
    {% for familiar in familiares %}
        <ul>
            <li>Name: {{familiar.name}}</li>
            <li>Age: {{familiar.age}}</li>
            <li>Is LOTR fan?: {{familiar.is_lotr_fan}}</li>
        </ul>
    {% endfor %}    
</body>
</html>